@font-face
{
    font-family: 'Play';
    src: url('../fonts/play.ttf') format('truetype');
    font-display: swap;
}

*
{
    margin: 0;
	padding: 0;
}

::selection {
    background: #0EE59F;
    color: #000000;
}

body
{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background-color: #000000;
    background:
        repeating-linear-gradient(
            to bottom,
            rgba(0,0,0,0.10) 0px,
            rgba(0,0,0,0.10) 10px,
            transparent 20px,
            transparent 30px,
            rgba(0,0,0,0.10) 40px
        ),
        linear-gradient(
            to right,
            #05352A 0%,
            #000000 20%,
            #000000 80%,
            #05352A 100%
        );
}

.content {
    flex: 1;
    width: min(82vw, 1100px);

    margin: 0 auto;

    padding:
        clamp(20px, 4vw, 40px)
        clamp(15px, 3vw, 30px);

    font-size: clamp(14px, 2vw, 18px);

    box-sizing: border-box;
}

.content ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 14px;
}

.content li {
    color: #0EE59F;
    font-family: 'Play';
    margin-bottom: 6px;
}

.content li::marker {
    color: #0EE59F;
}

.content p,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #0EE59F;
    font-family: 'Play';
    margin-bottom: 12px;
}

.content p,
.content a {
    line-height: 1.6;
    font-size: clamp(15px, 2vw, 18px);
}

.content a {
    color: #11FFAF;
    font-family: 'Play';
    margin-bottom: 12px;
}

.content a:hover {
    color: #94e7cd;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    line-height: 1.3;
    margin-top: 32px;
}

.content h1 {
    font-size: clamp(32px, 5vw, 48px);
}

.content h2 {
    font-size: clamp(28px, 4vw, 40px);
}

.content h3 {
    font-size: clamp(24px, 3.5vw, 32px);
}

.content h4 {
    font-size: clamp(20px, 3vw, 28px);
}

.content h5 {
    font-size: clamp(18px, 2.5vw, 24px);
}

.content h6 {
    font-size: clamp(16px, 2vw, 20px);
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 40px;
    height: 40px;
}

.header-left {
    position: relative;
}

.header-center {
    z-index: 150;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    display: flex;
    align-items: center;
    margin: 60px 0px 20px 0px;
}

.footer-center {
    z-index: 150;
    margin: 0 auto;
}

.footer-center p {
    color: #0BA572;
    font-family: 'Play';
    white-space: nowrap;
    font-size: 14pt;

    user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo {
    color: #0EE59F;
    font-size: 24pt;
    white-space: nowrap;    
    font-family: 'Play';

    user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.menu-button {
    z-index: 150;
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    position: fixed;
    top: 15px;
    left: 2%;

    cursor: pointer;
    color: #0EE59F;
    font-family: 'Play';

    user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.menu-button:hover {
    color: #94e7cd;
}

.dropdown {
    position: fixed;
    top: 60px;
    left: 2%;
    padding: 6px;
    z-index: 300;
    background: #000000cc;
    border: 1px solid #0BA572;
    display: flex;
    flex-direction: column;
    min-width: 120px;
    padding: 0;
}

.dropdown a {
    padding: 10px 10px 10px 15px;
    text-decoration: none;
    font-size: 13pt;
    color: #0EE59F;
    font-family: 'Play';

    user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.dropdown a:hover {
    background: #333333cc;
    color: #94e7cd;
}

.hidden {
    display: none;
}

.top_screen_effect
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 115px;

    pointer-events: none;
    z-index: 100;

    background:
        linear-gradient(
            to bottom,
            #000000 0%,
            transparent 100%
        ),
        linear-gradient(
            to right,
            #000000 0%,
            transparent 8%,
            transparent 92%,
            #000000 100%
        );

    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}


.bottom_background_screen_effect,
.bottom_foreground_screen_effect
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.bottom_background_screen_effect
{
    z-index: -1;
    background:
        linear-gradient(
            to top,
            #000000 0%,
            rgba(0, 0, 0, 0.5) 20%,
            transparent 95%
        );
}

.bottom_foreground_screen_effect
{
    z-index: 100;
    background:
        linear-gradient(
            to top,
            #000000 0%,
            rgba(0, 0, 0, 0.5) 10%,
            transparent 25%
        );
}
